.hero {
  font-size: 30;
  font-size: 4vw;
}
html { 
  background: url('images/yourimage.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gold;
  background-image:url("images/arthur-20clip-20art-dragon-2.png");
}



.stats
  {
    display: flex;
    align-self: center;
  }
label{
  display: inline-block; 
  width: 10%;
}

h1{
  display: flex;
  align-self:center;
}
ul {
  display: flex;
  justify-content: center;
  align-items: left;
  list-style-type: none;
}
li{
  widows:20%;
  height:10%;
}

*{
  color:red;
  font-size: 12px;
  font-size: 2vw;
}