.hero {
  flex-basis: 100%;
  display: flex;
  font-size: 30;
}
html { 
  background: url('images/yourimage.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: gold;
  background-image:url("images/arthur-20clip-20art-dragon-2.png");
}
p {
  display: flex;
  align-items: left;
}
ul {
  width:300px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  list-style-type: square;
}

*{
  color:red;
}