.hero {
  display: flex;
  background-color: royalblue;
  font-size: 30;
}
body {
  background-color: gold;
  background-image:url("images/arthur-20clip-20art-dragon-2.png");
}
p {
  display: flex;
  align-items: left;
}
ul {
  display: flex;
  align-items: center;
  list-style-type: square;
}

*{
  color:red;
}