.hero {
  text-align: center;
  font-size: 30;
  font-size: 4vw;
}
b{
  margin-left:10px;
  margin-right:10px;
  text-align: center;
  font-size: 40;
  font-size: 6vw;
}
html { 
  background-color: gold;
}



.stats
  {
    
    display: flex;
    align-self: center;
  }
label{
  display: inline-block; 
  width: 10%;
}

h1{
  text-align: center;
  margin-left:40%;
  margin-right:40%;
  display: flex;
  align-items:center;
  font-size: 40;
  font-size: 6vw;
}
ul {
  margin-left:10px;
  margin-right:10px;
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
li{
  width:auto;
  height:auto;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
footer{
  vertical-align: right;
}
*{
  color:red;
  font-size: 12px;
  font-size: 2vw;
}